@charset "utf-8";

// =========================================================haha
// 各ページごとの指定用
// =========================================================

/* 60　ページ
========================================================= */

/* 50　セクション
----------------------------------------------- */

/* 40　パーツ
------------------------------------- */

//ロゴ

/* 全ページ共通
========================================================= */
/* タイトル title
----------------------------------------------- */
// page title

// section title 01
.home-tit-01 {
	text-align: center;
	background-color: #0F619B;
	padding: 44px 10px;
	position: relative;
	&:after {
		position: absolute;
		content: "";
		border-left: 55px solid transparent;
		border-right: 55px solid transparent;
		border-top: 40px solid #0F619B;
		width: 0;
		height: 0;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		@include sq {
			border-left: 35px solid transparent;
			border-right: 35px solid transparent;
			border-top: 25px solid #0F619B;
		}
	}
	h3 {
		@include font(25);
		font-weight: 500;
		color: $color-02;
		@include sq {
			@include font(40);
		}
	}
	span {
		color: #FFE200;
		display: block;
		@include sq {
			display: inline-block;
		}
	}

	&.tit-blue {
		background-color: #3FB5EA;
		&:after {
			border-top: 40px solid #3FB5EA;
			@include sq {
				border-top: 25px solid #3FB5EA;
			}
		}
	}

	&.tit-orange {
		background-color: #F27000;
		&:after {
			border-top: 40px solid #F27000;
			@include sq {
				border-top: 25px solid #F27000;
			}
		}
	}
}

// section title 02
.home-tit-02 {
	text-align: center;
	background-color: #0F619B;
	padding: 13px 15px;
	position: relative;
	border-radius: 15px;
	margin-bottom: 58px;
	margin-top: 58px;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include sq {
		min-height: auto;
		margin-bottom: 68px;
		margin-top: 90px;
		padding: 18px 15px;
	}
	&:after {
		position: absolute;
		content: "";
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #0F619B;
		width: 0;
		height: 0;
		top: 99%;
		left: 50%;
		transform: translateX(-50%);
	}
	h3 {
		@include font(22);
		font-weight: 500;
		color: $color-02;
		line-height: 1.5;
		@include sq {
			@include font(29);
		}
	}
	&.tit-blue {
		background-color: #3FB5EA;
		&:after {
			border-top: 20px solid #3FB5EA;
		}
	}
	&.tit-black {
		background-color: $color-text-01;
		&:after {
			border-top: 20px solid $color-text-01;
		}
	}
}

// section title 03
.home-tit-03 {
	@include font(28);
	font-weight: 500;
	line-height: 1.7;
	margin-bottom: 18px;
	@include sq {
		margin-bottom: 25px;
		line-height: 1.6;
		@include font(38);
	}
	span {
		color: #F27000;
		&.color-red {
			color: #FF1515;
		}
	}
}


/* グリッド grid
----------------------------------------------- */
.com-grid-0 {
	margin-left: -0px;
	> * {
		padding-left: 0px;
	}
	> .uk-grid-margin {
		margin-top: 0px;
	}
}

.com-grid-20 {
	margin-left: -20px;
	> * {
		padding-left: 20px;
	}
	> .uk-grid-margin {
		margin-top: 20px;
	}
}

.com-grid-30 {
	margin-left: -30px;
	> * {
		padding-left: 30px;
	}
	> .uk-grid-margin {
		margin-top: 30px;
	}
}

.com-grid-15 {
	margin-left: -15px;
	> * {
		padding-left: 15px;
	}
	> .uk-grid-margin {
		margin-top: 15px;
	}
}

/* テキスト text
----------------------------------------------- */
.com-text-01 {
	@include font(17);
	line-height: 1.8;
	margin-bottom: 22px;
	@include sq {
		@include font(22);
	}
}

.com-link-01 {
	display: block;
	padding: 15px 10px;
	text-align: center;
	@include font(22);
	font-weight: 700;
	color: #F27000;
	background-color: $color-02;
	background-image: url(../img/icon.svg);
	background-repeat: no-repeat;
	background-position: 95% 52%;
	background-size: 22px auto;
	border: 1px solid #F27000;
	transition: .4s;
	max-width: 472px;
	box-sizing: border-box;
	margin: auto;
	cursor: pointer;
	border-radius: 5px;
	@include sq {
		background-position: 91% 48%;
		background-size: 28px auto;
	}
}

/* トップページ
========================================================= */
/* keyvisual
----------------------------------------------- */
#keyvisual {
	background-image: url(../img/keyvisual_s.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	min-height: 500px;
	@include sq {
		min-height: 500px;
		background-image: url(../img/keyvisual.jpg);
	}
	.keyvisual-catch {
		position: absolute;
		top: 20%;
		left: 15px;
		font-weight: 700;
		@include sq {
			top: 25%;
			left: 30px;
		}
		p {
			@include font(27);
			font-weight: 700;
			@include sq {
				@include font(48);
			}
		}
		.tit {
			@include font(25);
			font-weight: 700;
			line-height: 1.6;
			text-shadow: rgb(255, 255, 255) 4px 0px 0px, rgb(255, 255, 255) 3.87565px 0.989616px 0px, rgb(255, 255, 255) 3.51033px 1.9177px 0px, rgb(255, 255, 255) 2.92676px 2.72656px 0px, rgb(255, 255, 255) 2.16121px 3.36588px 0px, rgb(255, 255, 255) 1.26129px 3.79594px 0px, rgb(255, 255, 255) 0.282949px 3.98998px 0px, rgb(255, 255, 255) -0.712984px 3.93594px 0px, rgb(255, 255, 255) -1.66459px 3.63719px 0px, rgb(255, 255, 255) -2.51269px 3.11229px 0px, rgb(255, 255, 255) -3.20457px 2.39389px 0px, rgb(255, 255, 255) -3.69721px 1.52664px 0px, rgb(255, 255, 255) -3.95997px 0.56448px 0px, rgb(255, 255, 255) -3.97652px -0.432781px 0px, rgb(255, 255, 255) -3.74583px -1.40313px 0px, rgb(255, 255, 255) -3.28224px -2.28625px 0px, rgb(255, 255, 255) -2.61457px -3.02721px 0px, rgb(255, 255, 255) -1.78435px -3.57996px 0px, rgb(255, 255, 255) -0.843183px -3.91012px 0px, rgb(255, 255, 255) 0.150409px -3.99717px 0px, rgb(255, 255, 255) 1.13465px -3.8357px 0px, rgb(255, 255, 255) 2.04834px -3.43574px 0px, rgb(255, 255, 255) 2.83468px -2.82216px 0px, rgb(255, 255, 255) 3.44477px -2.03312px 0px, rgb(255, 255, 255) 3.84068px -1.11766px 0px, rgb(255, 255, 255) 3.9978px -0.132717px 0px;		
			@include sq {
				@include font(65);
			}
			strong {
				@include font(34);
				font-weight: 700;
				@include sq {
					@include font(81);
				}
			}
		}
		.accent {
			color: #FF1515;
		}
	}
	.keyvisual-img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include sq {
			width: auto;
		}
		img {
			width: 100%;
		}
	}
}

/* 共通パーツ
----------------------------------------------- */
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */
.home-01-list {
	margin-top: 55px;
	@include sq {
		margin-top: 90px;
		display: flex;
		flex-wrap: wrap;
	}
	li {
		@include font(24);
		font-weight: 500;
		margin-bottom: 18px;
		display: flex;
		align-items: baseline;
		@include sq {
			margin-bottom: 30px;
			@include font(34);
			letter-spacing: -1px;
			width: 45%;
			margin-right: 2%;
		}
		&:before {
			content: "\f00c";
			font-family: "FontAwesome";
			color: #FF1515;
			margin-right: 10px;
			@include font(26);
			@include sq {
				margin-right: 20px;
				@include font(42);
			}
		}
		&:nth-child(even) {
			margin-right: 0;
			@include sq {
				width: 53%;
			}
		}
	}

	&.modify {
		margin-top: 42px;
		@include sq {
			margin-top: 90px;
		}
		li {
			text-align: center;
			width: 100%;
			line-height: 1.4;
			@include sq {
				line-height: 1.5;
			}
		}
	}
}

/* Section home 02
-------------------------------------- */
#home-02 {
	.com-text-01 {
		margin: 30px 0 25px;
		@include sq {
			margin: 40px 0 35px;
		}
	}
}
.home-Work-02 {
	@include mq {
		display: flex;
	}
	figure {
		text-align: center;
	}
	ul {
		display: block;
		margin-top: 40px;
		@include mq {
			margin-top: 0;
		}
		@include sq {
			display: flex;
		}
	}
	li {
		text-align: center;
		@media (max-width: 960px) {
			width: 48%;
		}
		@media (max-width: 639px) {
			width: 100%;
		}
		span {
			background-color: #F5F5F5;
			padding: 15px 10px;
			display: block;
			@include font(19);
			font-weight: 500;
			width: 100%;
			@include sq {
				padding: 25px 10px;
				@include font(16);
			}
			@include mq {
				width: auto;
			}
			@include lq {
				@include font(19);
			}
		}
	}
}

/* Section home 03
-------------------------------------- */
#home-03 {
	margin-top: 65px;
	@include sq {
		margin-top: 90px;
	}
	.img img {
		width: 100%;
	}
	.home-tit-02 {
		margin-top: -50px;
		@include sq {
			margin-top: 0;
		}
		@include mq {
			margin-top: -40px;
		}
	}
	small {
		@include font(15);
	}
	.home-tit-01 {
		h3{
			font-weight: 700;
		}
	}
}

/* Section home 04
-------------------------------------- */
#home-04 {
	.home-04-imgtxt {
		text-align: left;
		@include sq {
			text-align: center;
		}
		@include mq {
			text-align: left;
			display: flex;
		}
	}
	.info {
		padding-top: 20px;
		.com-text-01 {
			@include sq {
				margin-top: 40px;
			}
		}
		.com-link-01 {
			margin: 34px auto 0;
			@include mq {
				margin: 55px 0 0;
			}
		}
	}
	.home-tit-02 span {
		display: block;
		opacity: 0;
		height: 0;
		@include sq {
			opacity: 1;
			display: inline-block;
		}
	}
}

/* Section home 05
-------------------------------------- */
#home-05 {
	.home-05-imgifo {
		margin-top: 20px;
		@include mq {
			margin-top: 58px;
			display: flex;
			justify-content: space-between;
		}
		figure {
			@include mq {
				width: 50%;
			}
		}
		ul {
			margin-top: 30px;
			@include mq {
				margin-top: 0;
				width: 50%;
			}
		}
		h4 {
			@include font(17);
			font-weight: 700;
			border-bottom: 1px solid #A9A9A9;
			padding-bottom: 10px;
			margin-bottom: 9px;
		}
		ul li p {
			line-height: 1.8;
		}
	}
}

/* Section home 06
-------------------------------------- */
#home-06 {
	margin-bottom: 58px;
	.com-text-01 {
		margin: 30px 0;
		@include sq {
			margin: 50px 0;
		}
	}
}

.sub-contact-list {
	> .uk-grid-margin {
		margin-top: 15px;
		@include sq {
			margin-top: 30px;
		}
	}
	li a {
		border: 1px solid #DCDCDC;
		padding: 10px 15px;
		display: flex;
		align-items: center;
		position: relative;
		height: 80px;
		box-sizing: border-box;
		@include sq {
			height: 100px;
			padding: 10px 15px;
		}
		&:after {
			position: absolute;
			content: "";
			background: url(../img/icon-down.png) no-repeat;
			background-position: right;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			background-size: 100%;
			width: 25px;
			height: 40px;
			@include mq {
				width: 37px;
				height: 44px;
				right: 20px;
			}
		}
		& > div {
			margin-left: 10px;
		}
		figure {
			width: 46px;
			height: 54px;
			@include mq {
				width: auto;
				height: auto;
			}
			img {
				width: 100%;
			}
		}
		h4 {
			@include font(17);
			margin-bottom: 5px;
			font-weight: 700;
			@include mq {
				@include font(22);
			}
		}
		p {
			@include font(12);
			font-weight: 500;
			@include sq {
				@include font(14);
			}
		}
	}
}
#sub-contact {
	background-color: $color-02;
	padding: 15px 15px 30px;
	@include sq {
		padding: 25px 25px 35px;
	}
	@include mq {
		padding: 40px 40px 35px;
	}
	.com-text-01 {
		@include font(17);
		font-weight: 700;
		@include sq {
			@include font(20);
		}
	}
}
.sub-contact-fax {
	text-align: center;
	@include sq {
		display: flex;
	}
	li {
		@include sq {
			margin: 0 5px;
		}
		+ li {
			margin-top: 10px;
			@include sq {
				margin-top: 5px;
			}
		}
	}
}
#home-07 {
	background-color: #F5F5F5;
	.home-tit-01 {
		h3{
			font-weight: 700;
		}
	}
	.com-text-01 {
		margin: 28px 0 18px;
		@include sq {
			margin: 40px 0 22px;
			@include font(20);
		}
	}
	.com-text-02 {
		max-width: 322px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 55px;
		border: 1px solid #FF1515;
		color: #FF1515;
		@include font(13);
		text-align: center;
		padding: 6px 10px;
	}
	.text-1{
		@include font(14);
	}
	.text-required {
		color: #E6232A;
		display: inline-block;
		@include font(13);
		margin-right: 2px;
	}
	.uk-input,.uk-textarea {
		border: 1px solid #DCDCDC;
		padding: 8px 15px;
		@include font(15);
		font-weight: 400;
		box-shadow: unset;
		&:placeholder{
			color: #ABABAB;
		}
	}
	.uk-textarea {
		width: 100% !important;
		height: 172px !important;
	}
	.contact-submit {
		display: block;
		width: 100%;
		max-width: 380px;
		margin: 11px auto 92px;
		padding: 10px;
		height: 80px;
		text-align: center;
		border: 0;
		background-color: #F27000;
		color: #fff;
		font-weight: 700;
		@include font(18);
		background-image: url(../img/arrow-btn.png);
		background-repeat: no-repeat;
		background-position: 95%;
		cursor: pointer;
		transition: all 0.3s ease;
		outline: none;
		text-shadow: unset;
		border-radius: 0;
		@include sq {
			margin: 40px auto 95px;
			width: 340px;
		}
		&:hover{
			background-color: #f8831e;
		}
	}
	.home-07-box {
		a{
			background-color: #fff;
			border: 2px solid #F27000;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: left;
			flex-direction: column;
			font-weight: 500;
			height: auto;
			padding: 20px;
			align-items: unset;
			box-sizing: border-box;
			margin-bottom: -110px;
			@include font(16);
			@include sq{
				height: 210px;
				align-items: center;
				text-align: center;
				@include font(19);
			}
			.u-link {
				color: #F27000;
				display: block;
				margin-bottom: 36px;
				@include font(30);
				font-weight: 500;
				@include sq {
					margin-bottom: 15px;
					@include font(35);
				}
			}
		}
		.icon-right {
			position: relative;
			&:after {
				content: "\f054";
				font-family: "FontAwesome";
				color: #EFAB12;
				@include font(17);
				margin-left: 5px;
				padding-top: 5px;
				height: 15px;
				font-style: normal;
			}
		}
		p {
			font-weight: 500;
			@include font(16);
			@include sq {
				@include font(19);
			}
		}
	}
	/* form-table-01
	-------------------------------------- */
	&.edit1 {
		background-color: $color-02;
		.home-07-box a {
			margin-bottom: 0;
			border-color: #DCDCDC;
		}
		
	}
}

.form-table-01 {
	font-family: $font-family-02;
	width: 100%;
	@include font(15);
	dl {
		align-items: center;
		font-weight: 500;
		margin-bottom: 1px;
		@include sq {
			display: flex;
			margin-bottom: 13px;
		}
		&:last-child {
			align-items: flex-start;
            dt {
                padding-top: 15px;
            }
		}
	}
	label{
		margin: 0;
		border-radius: 0;
		position: relative;
		font-weight: 400;
		padding-left: 15px;;
		&:before{
			content: "";
			background: #EFAB12;
			position: absolute;
			width: 10px;
    		height: 10px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	dt {
		margin: 0;
		position: relative;
        font-weight: 500;
		width: 100%;
		padding: 5px 0;
		min-width: auto;
		box-sizing: border-box;
        @include sq{
			padding: 16px 0 16px 0;
			width: 200px;
			min-width: 200px;
        }
	}
	dd {
		border-top: 0;
		padding: 7px 0 7px 0;
		width: 100%;
        font-weight: normal;
		@include sq{
			padding: 7px 0 7px 6px;
			width: auto;
			width: 100%;
		}
	}
	// 必須項目用
	.required {
		dt {
			position: relative;
			&:after {
				position: unset;
				padding-left: 4px;
				content: '※';
				color: #E6232A;
				@include font(14);
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				@include sq{
					position: absolute;
				}
			}
		}
		
	}
}


/* 共通パーツ
----------------------------------------------- */
/* セクション
-------------------------------------- */


/* フォーム共通
========================================================= */
/* input関連
-------------------------------------- */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
	-webkit-appearance: none;
	width: 100%;
	@include font(16);
	border: 1px solid;
	padding: .3em;
	border: 1px solid #CCC;
	box-sizing: border-box;
}

textarea {
	-webkit-appearance: none;
	width: 100%;
	@include font(16);
	padding: .5em;
	border: 1px solid #CCC;
	box-sizing: border-box;
}
#mfp_OperationCheck, div#mfp_hidden {
	display: none !important;
}
div#mfp_loading, div#mfp_loading_screen, div#mfp_overlay_background{
	display: none !important;
}
form#mailformpro dl dt {
	float: unset;
	font-size: unset;
	padding: 16px 0 16px 0;
	text-align: left;
	border-top: 0;
	min-width: auto;
	width: 100%;
	@include sq {
		float: unset;
		font-size: unset;
		padding: 5px 0;
		text-align: left;
		border-top: 0;
		width: 200px;
		min-width: 200px;
	}
}
form#mailformpro dl dd {
	border-top: 0;
	padding: 7px 0 7px 0;
	font-size: unset;
	line-height: auto;
	@include sq {
		border-top: 0;
		padding: 7px 0 7px 6px;
		font-size: unset;
		line-height: auto;
	}
}

.thanks {
	padding-top: 100px;
	background-color: $color-02;
	padding-bottom: 50px;
	@include sq{
		padding-top: 220px;
	}
	.com-text-01 {
		@include font(18);
		line-height: 1.8;
		margin-bottom: 30px;
		text-align: center;
		font-weight: 500;
	}
	.com-text-02 {
		max-width: 322px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 55px;
		border: 1px solid #FF1515;
		color: #FF1515;
		@include font(13);
		text-align: center;
		padding: 6px 10px;
	}
	.thanks-item{
		border-top: 1px solid #A9A9A9;
		padding: 28px 0;
		@include font(15);
		line-height: 1.8;
		strong {
			font-weight: 700;
		}
	}
}