@charset "utf-8";

// =========================================================
// ページテンプレート指定用
// =========================================================




/* 60　page
========================================================= */

/* 50　block
----------------------------------------------- */

/* 40　parts
------------------------------------- */

// comment





/* 変数設定
========================================================= */

/* base color
------------------------------------- */
$color-01: #F27000; // key color
$color-02: #fff;

// SNS color
$color-facebook: #3b5999;
$color-twitter: #1da1f2;
$color-google-plus: #dd4b39;
$color-youtube: #cd201f;
$color-line: #18ba07;



/* text color
------------------------------------- */
$color-text-01: #333; // body text color



/* font-family:
------------------------------------- */
// SCSS variable setting
$font-family-01: "Font Awesome 5 Free", FontAwesome;
$font-family-02: 'Noto Sans JP', sans-serif;
$font-family-03: 'Open Sans Condensed', sans-serif;


/* uikit.cssの基本設定の上書き
========================================================= */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $font-family-02;
	color: $color-text-01;
	@include font(15);
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-02;
	color: $color-text-01;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,dl,figure {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: normal;
}

li {
	list-style: none;
}

a {
	color: $color-text-01;
	transition: .4s;
	&:before, &:after {
		transition: .4s;
	}
	&:hover {
		color: $color-text-01;
		text-decoration: none;
	}
}
strong {
	font-weight: normal;
}
::-moz-selection {
  color: $color-text-01;
}
::selection {
  color: $color-text-01;
}

/* 基本 body
========================================================= */
//ページ幅
.uk-container {
	max-width: 1160px;
	margin: auto;
}

/* 中ページ layout
----------------------------------------------- */

/* header
========================================================= */
#header {
	height: 65px;
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
    z-index: 10;
	background-color: transparent;
	height: 56px;
	@include sq{
		top: 0;
		height: 130px;
	}
}

#header-top {
	width: 100%;
}

/* #header-logo　
----------------------------------------------- */
#header-logo {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 10px;
	@include sq {
		width: auto;
		margin-left: 30px;
		display: block;
	}
	@include mq {
		display: flex;
		margin-left: 20px;
	}
	@include lq {
		margin-left: 30px;
	}
	small {
		@include font(9);
		font-weight: 400;
		display: inline-block;
		margin-left: 15px;
		@include smq {
			@include font(12);
		}
		@include sq {
			margin-left: 30px;
		}
		@include mq {
			margin-left: 10px;
		}
		@include lq {
			margin-left: 20px;
		}
	}
}

#header-contact {
	margin: 0 10px;
    @include mq {
		margin: 0 66px 0 10px;
	}
	@include lq {
		margin: 0 30px 0 15px;
	}
	p {
		font-weight: 700;
		@include font(12);
		line-height: 1.8;
		margin-bottom: 10px;
		@include mq {
			@include font(14);
		}
		@include lq {
			@include font(16);
		}
	}
	.tel {
		position: relative;
		img {
			width: 85%;
			@include mq {
				width: auto;
			}
		}
		@include sq {
			padding-right: 40px;
		}
		@include mq {
			padding-right: 0;
		}
	}
	.email {
		position: absolute;
		right: 15px;
		bottom: 32px;
		width: 47px;
		@include mq {
			right: 20px;
			bottom: 29px;
		}
	}
}


/* #sub内
========================================================= */
/* 共通パーツ
----------------------------------------------- */
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */

/* #sub-01　
----------------------------------------------- */

/* ページの上部へボタン（footer内に含まれる）
========================================================= */

/* footer
========================================================= */
footer {
	margin-top: 190px;
	background-color:#F5F5F5;
    padding-top: 24px;
    @include sq {
        padding-top: 45px;
        margin-top: 220px;
	}
	&.edit-ft {
		margin-top: 80px;
    	@include sq {
	        margin-top: 120px;
	    }
	}
}
#footer-logo {
    img {
        width: 249px;
        @include sq {
            width: auto;
        }
    }
}
.footer-list {
    margin: 60px 0 10px;
	@include sq {
        margin: 46px 0;
    }
	& > div {
		margin-bottom: 53px;
	}
	h4 {
		@include font(15);
		font-weight: 700;
		border-bottom: 1px solid #A9A9A9;
		padding-bottom: 8px;
		margin-bottom: 20px;
	}
	dl {
        margin-bottom: 0;
        @include sq {
            display: flex;
        }
	}
	dt,dd {
		line-height: 1.8;
		@include font(13);
	}
	dt {
		width: 120px;
        min-width: 100px;
        margin-bottom: 4px;
        @include mq {
            margin-bottom: 0;
            width: 140px;
        }
	}
}

.header-link {
	.email {
		position: absolute;
		right: 35px;
		bottom: 38px;
		width: 40px;
		@include mq {
			right: 30px;
			bottom: 35px;
			width: 47px;
		}
	}
}

.footer-backtop-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
	z-index: 100;
	@include sq{
		padding-left: 0;
		width: 56px;
    	height: 56px;
		bottom: 14px;
    	right: 20px;
	}
	rect {
		fill: #0F619B;
		@include sq {
			fill: $color-text-01;
		}
	}
}
.footer-hotline {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	max-width: 353px;
	display: none;
	z-index: 101;
	background-color: $color-text-01;
	padding: 0 10px 0 0;
	min-height: 56px;
	box-sizing: border-box;
	height: 56px;
	line-height: 56px;
	width: 85%;
	@include sq {
		line-height: 1;
		height: auto;
		width: auto;
		background-color: transparent;
		padding: 0;
		padding-right: 0;
		max-width: 100%;
	}
	img {
		width: 100%;
	}
}

/* footer-logo
========================================================= */

/* #copyright
----------------------------------------------- */
#copyright {
	background-color: $color-02;
	padding: 20px 0 150px;
    margin-top: 10px;
    @include sq {
        padding: 30px 0 100px;
    }
}