{{#extend "default"}}
{{#content "main"}}

<div id="content">

    <!-- ▼main ================================================== -->
    <main id="main">

        <div id="keyvisual">
            <h1 class="keyvisual-catch">
                突発的な部品不良で<br>
                <span class="tit"><strong>緊急</strong>の<strong class="accent">部品検査･選別</strong>が</span><br>
                必要な時はありませんか？
            </h1><!-- /.keyvisual-catch -->
            <div class="keyvisual-img">
                <img class="uk-hidden@s" src="common/img/main_01_s.png" alt="">
                <img class="uk-visible@s" src="common/img/main_01.png" alt="">
            </div>
        </div><!-- /#keyvisual -->

        <section id="home-01">
            <div class="home-tit-01">
                <h3>TMネットワークの<br><span>部品検査･選別代行</span>サービスなら</h3>
            </div><!-- /.home-tit-01 -->
            <div class="uk-container">

                <ul class="home-01-list">
                    <li>土日･祝日問わず緊急対応！</li>
                    <li>365日･24時間スピーディーに対応！</li>
                    <li>全国対応も素早く実施！</li>
                    <li>お電話1本･メール1本で全てOK！</li>
                </ul>
                <p class="com-text-01 uk-text-center@s">納品前、納品後の部品などにトラブルがあり緊急検査が必要な時に、<br> 現場に駆け付けスピード対応させていただきます。</p>

            </div><!-- /.uk-container -->
        </section><!-- /#home-01 -->

        <section id="home-02">
            <div class="uk-container">

                <div class="home-tit-02">
                    <h3>部品検査･選別代行サービスの<br class="uk-hidden@s">作業内容</h3>
                </div><!-- /.home-tit-01 -->

                <div class="home-Work-02 uk-flex-top uk-flex-between">
                    <figure class="uk-width-1-3@m"><img src="common/img/01_01.png" alt="">
                    </figure>
                    <ul class="uk-width-2-3@m uk-child-width-1-2@m uk-grid-small uk-flex-between" uk-grid>
                        <li><span>外観検査（キズ・サビなど）</span></li>
                        <li><span>試作品、立上り品の特別検査</span></li>
                        <li><span>海外輸入品の受入／出荷前検査</span></li>
                        <li><span>精密部品の検査</span></li>
                        <li><span>サビ・バリ付着などの修正作業</span></li>
                        <li><span>梱包などの付帯作業</span></li>
                    </ul>
                </div><!-- /.home-Work-02 -->
                <p class="com-text-01 uk-text-center">その他の作業内容については<br class="uk-hidden@s">お問い合わせください</p>
                <a href="#home-07" class="com-link-01" uk-scroll>お問い合わせはこちら</a>

            </div><!-- /.uk-container -->
        </section><!-- /#home-02 -->

        <section id="home-03" class="uk-text-center@s">
            <div class="home-tit-01 tit-blue">
                <h3>TMネットワークの<br>部品検査･選別代行<span>サービスの特徴</span></h3>
            </div><!-- /.home-tit-01 -->
            <figure class="img uk-text-center">
                <img class="uk-visible@s" src="common/img/01_02.png" alt="">
                <img class="uk-hidden@s" src="common/img/01_02_s.png" alt="">
            </figure>
            <div class="uk-container">
                <div class="home-tit-02 tit-blue">
                    <h3>急なトラブル！でも安心の<br class="uk-hidden@s">即日サービス</h3>
                </div><!-- /.home-tit-01 -->
                <h4 class="home-tit-03 uk-text-center">緊急なトラブル！<br class="uk-hidden@s"> 納品時間がない！<br> そんな時でも<br
                        class="uk-hidden@s">TMネットワークは<br class="uk-hidden@s"><span>即日サービス！</span></h4>
                <p class="com-text-01">電話一本で土日・祝日・夜間問わず、突然のトラブルに即対応します。<br>検査内容の確認が出来次第すぐに出発いたします。</p>
                <small>※即日対応エリアは決まっています</small>
            </div><!-- /.uk-container -->
        </section><!-- /#home-03 -->

        <section id="home-04">
            <div class="uk-container">
                <div class="home-tit-02 tit-blue">
                    <h3>24時間365日受付<span>･</span>いつでもどこでも出動</h3>
                </div><!-- /.home-tit-01 -->
                <div class="home-04-imgtxt com-grid-20">
                    <figure class="uk-text-center"><img src="common/img/01_03.png" alt="">
                    </figure>
                    <div class="info">
                        <h4 class="home-tit-03">365日･24時間体制の社員が<br> 突発的なご依頼に<span>スピーディーに対応</span></h4>
                        <p class="com-text-01">土曜日･日曜日･祝日も対応可能。<br> お電話やメールでのお問い合わせを、24時間365日お受けいたします。</p>
                        <a href="#home-07" class="com-link-01" uk-scroll>お問い合わせはこちら</a>
                    </div>
                </div>
            </div><!-- /.uk-container -->
        </section><!-- /#home-04 -->

        <section id="home-05" class="uk-text-center@s">
            <div class="uk-container">
                <div class="home-tit-02 tit-blue">
                    <h3>全国対応も素早く実施！</h3>
                </div><!-- /.home-tit-01 -->
                <h4 class="home-tit-03">専門の社員が、<span>全国どこへでも</span>駆けつけ<br class="uk-visible@m">責任をもって作業を完遂致します。</h4>
                <p class="com-text-01">関西に限らず、ネットワークを活かして、<br>本州と九州の案件に同時に対応することが可能です。</p>

                <div class="home-05-imgifo">
                    <figure><img src="common/img/01_04.png" alt=""></figure>
                    <ul class="uk-text-left uk-child-width-1-2@s" uk-grid>
                        <li>
                            <h4>関西地区</h4>
                            <p>京都府、大阪府、兵庫県、奈良県、 滋賀県、和歌山県</p>
                        </li>
                        <li>
                            <h4>九州地区</h4>
                            <p>山口県、福岡県、大分県、佐賀県、 熊本県、長崎県</p>
                        </li>
                        <li>
                            <h4>北陸地区</h4>
                            <p>新潟県、富山県、石川県、福井県</p>
                        </li>
                        <li>
                            <h4>中国地区</h4>
                            <p>鳥取県、島根県、岡山県、広島県</p>
                        </li>
                        <li>
                            <h4>東海地区</h4>
                            <p>静岡県、岐阜県、三重県、愛知県</p>
                        </li>
                    </ul>
                </div>
            </div><!-- /.uk-container -->
        </section><!-- /#home-05 -->

        <section id="home-06">
            <div class="uk-container">
                <div class="home-tit-02 tit-blue">
                    <h3>お電話1本、<br class="uk-hidden@s">メール1通で全てＯＫ</h3>
                </div><!-- /.home-tit-01 -->

                <div class="home-Work-02 uk-flex-top" uk-grid>
                    <figure class="uk-width-1-3@s"><img src="common/img/01_05.svg" alt="">
                    </figure>
                    <div class="uk-width-2-3@s">
                        <h4 class="home-tit-03">納入先様との<br class="uk-visible@m"><span
                                class="color-red">打ち合わせ･検査･納期調整･検査報告</span>まで
                            お電話1本、メール1通でOK</h4>
                    </div>
                </div>
                <p class="com-text-01 uk-text-center@s">土曜日･日曜日･祝日も対応可能。<br> お電話やメールでのお問い合わせを、24時間365日お受けいたします。</p>

                <ul class="home-01-list modify">
                    <li>人員が不足している場合、手配のお手伝いも承ります</li>
                </ul>
            </div><!-- /.uk-container -->
        </section><!-- /#home-06 -->

        <section id="home-07">
            <div class="home-tit-01 tit-orange">
                <h3>ご依頼･お問い合わせ</h3>
            </div><!-- /.home-tit-01 -->
            <div class="uk-container">
                <div class="home-tit-02 tit-black">
                    <h3>お電話でのご依頼･お問い合わせ</h3>
                </div><!-- /.home-tit-01 -->
                <p class="com-text-01 uk-text-center@s">緊急のトラブルでお困りのお客様はすぐにお電話ください。</p>
                <figure class="uk-text-center">
                    <a href="tel:0748-38-4566">
                        <img class="uk-hidden@s" src="common/img/tel_sub01_s.svg" alt="">
                        <img class="uk-visible@s" src="common/img/tel_sub01.svg" alt="">
                    </a>
                </figure>

                <aside id="sub-contact" class="mt30">
                    <ul class="sub-contact-list uk-child-width-1-2@s com-grid-30" uk-grid>
                        <li>
                            <a href="common/pdf/work_request.pdf" download="">
                                <figure><img src="common/img/down_load.png" alt="">
                                </figure>
                                <div>
                                    <h4>作業依頼書ダウンロード</h4>
                                    <p>PDF形式 [94kb]</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="common/pdf/work_request.xls" download="">
                                <figure><img src="common/img/excel.png" alt=""></figure>
                                <div>
                                    <h4>作業依頼書ダウンロード</h4>
                                    <p>EXCEL(エクセル)形式 [64kb]</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <p class="com-text-01 uk-text-center">作業依頼書をご記入の上、<br class="uk-hidden@s">メールまたはFAXにてお送りください。</p>
                    <ul class="sub-contact-fax uk-flex-center uk-flex-middle">
                        <li><a href="fax:0748-38-4560"><img src="common/img/fax.svg" alt=""></a></li>
                        <li><a href="mailto:tmn@tmnet.co.jp"><img src="common/img/mail.svg" alt=""></a></li>
                    </ul>
                </aside>

                <div id="contact">
                    <div class="home-tit-02 tit-black">
                        <h3>メールでお問い合わせ</h3>
                    </div><!-- /.home-tit-01 -->
                    <p class="com-text-01 uk-text-center@s">メールでのお問い合わせは下記フォームにご入力の上、送信してください</p>
                    <p class="com-text-02 uk-text-center@s">お急ぎのお問い合わせはお電話にてご連絡ください</p>
                    <form id="mailformpro" method="POST">
                        <div class="contact-section">
                            <div class="form-table-01">
                                <dl>
                                    <dt></dt>
                                    <dd>
                                        <p class="text-1"><span class="text-required">※</span>印は入力必須項目です。</p>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><label>会社名</label></dt>
                                    <dd><span><input class="uk-input" type="text" name="会社名" data-value="会社名"
                                                placeholder="例：TMネットワーク株式会社"></span></dd>
                                </dl>
                                <dl class="required">
                                    <dt><label>お名前</label></dt>
                                    <dd><span><input class="uk-input" type="text" name="お名前" data-value="お名前"
                                                required="required" placeholder="例：山田太郎"></span></dd>
                                </dl>
                                <dl>
                                    <dt><label>ご住所 </label></dt>
                                    <dd><span><input class="uk-input" type="text" name="ご住所" data-value="ご住所"
                                                data-address="ご住所" placeholder="例：山田太郎"></span></dd>
                                </dl>
                                <dl class="required">
                                    <dt><label>電話番号</label></dt>
                                    <dd><span><input class="uk-input" type="tel" name="電話番号" data-type="tel"
                                                required="required" placeholder="例：0748-38-4566"></span></dd>
                                </dl>
                                <dl class="ico-required">
                                    <dt><label>メールアドレス</label></dt>
                                    <dd><span> <input class="uk-input" type="email" data-type="email" name="email"
                                                required="required" placeholder="例：example@tmnet.co.jp"></span>
                                    </dd>
                                </dl>
                                <dl class="required">
                                    <dt><label>お問い合わせ内容</label></dt>
                                    <dd>
                                        <span><textarea class="uk-textarea" name="お問い合わせ内容" data-value="お問い合わせ内容"
                                                required="required" rows="7" placeholder=""></textarea></span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="contact-grid-submit mfp_buttons">
                            <p><button type="submit" class="contact-submit">確認して送信する</button></p>
                        </div>
                    </form><!-- /form -->
                    <script id="mfpjs" src="mailformpro/mailformpro/mailformpro.cgi"></script>
                </div>


                <div class="home-07-box">
                    <a href="http://www.tmnet.co.jp/" target="_blank">
                        <h3 class="u-link">緊急対応以外にも、品質サポート･品質受託を承ります</h3>
                        <p class="u-text">詳しくはTMネットワークホームページをご覧ください<i class="icon-right"></i></p>
                    </a>
                </div>

            </div><!-- /.uk-container -->
        </section><!-- /#home-07 -->

    </main><!-- /#main -->
    <!-- ▲main ================================================== -->

</div><!-- /#content -->
<!-- ▲content ================================================== -->

{{/content}}
{{/extend}}