<!-- ▼footer ================================================== -->
<footer id="footer">
	<div class="uk-container">
		<div id="footer-logo" class="uk-text-center"><img src="common/img/logo_ft.png"
				alt=""></div>
		<div class="footer-list">
			<h4>TMネットワーク株式会社</h4>
			<div class="uk-child-width-1-2@s com-grid-15" uk-grid>
				<dl>
					<dt>本社-滋賀営業所</dt>
					<dd>
						〒523-0012　滋賀県近江八幡市武佐町450-4 <br>
						TEL 0748-38-4566 ／ FAX 0748-38-4560
					</dd>
				</dl>
				<dl>
					<dt>兵庫営業所</dt>
					<dd>
						〒671-1107　兵庫県姫路市広畑区西蒲田716 <br>
						TEL 079-239-7171 ／ FAX 079-239-7170
					</dd>
				</dl>
				<dl>
					<dt>兵庫営業所</dt>
					<dd>
						〒671-1107　兵庫県姫路市広畑区西蒲田716 <br>
						TEL 079-239-7171 ／ FAX 079-239-7170
					</dd>
				</dl>
			</div>
			<h4>TMネットワーク株式会社</h4>
			<div class="uk-child-width-1-2@s com-grid-15" uk-grid>
				<dl>
					<dt>本社-滋賀営業所</dt>
					<dd>
						〒523-0012　滋賀県近江八幡市武佐町450-4 <br>
						TEL 0748-38-4566 ／ FAX 0748-38-4560
					</dd>
				</dl>
				<dl>
					<dt>兵庫営業所</dt>
					<dd>
						〒671-1107　兵庫県姫路市広畑区西蒲田716 <br>
						TEL 079-239-7171 ／ FAX 079-239-7170
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div id="copyright">
		<div class="uk-container">
			<small>Copyright &COPY; TMネットワーク株式会社 All Rights Reserved.</small>
		</div>
	</div>
	<a href="#pagetop" class="footer-backtop-btn" uk-scroll="">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="56"
            viewBox="0 0 56 56">
            <defs>
                <clipPath id="clip-path">
                    <path id="Path_309" data-name="Path 309"
                        d="M17.982-24.386,2.255-8.859-.018-11.1,17.967-28.859l.015.015L18-28.859,35.982-11.1,33.709-8.859Z"
                        transform="translate(0.018 28.859)" fill="none" clip-rule="evenodd" />
                </clipPath>
            </defs>
            <g id="page-top" transform="translate(-342 -1013.766)">
                <rect id="Rectangle_237" data-name="Rectangle 237" width="56" height="56" transform="translate(342 1013.766)"
                    fill="#333" />
                <g id="Group_233" data-name="Group 233" transform="translate(352.018 1023.625)">
                    <g id="Group_219" data-name="Group 219" transform="translate(-0.018 0.141)" clip-path="url(#clip-path)">
                        <path id="Path_308" data-name="Path 308" d="M-5.018-6.9H38.036V-33.859H-5.018Z"
                            transform="translate(1.491 30.377)" fill="#fff" />
                    </g>
                </g>
                <path id="Path_319" data-name="Path 319"
                    d="M-14.1-7.3h1.375a11.567,11.567,0,0,1,1.617.077V-8.7a11.671,11.671,0,0,1-1.617.077h-4.356a11.064,11.064,0,0,1-1.5-.077v1.474A10.923,10.923,0,0,1-17.072-7.3h1.485V-1.3a9.221,9.221,0,0,1-.088,1.43h1.661A9.13,9.13,0,0,1-14.1-1.3Zm8.294-1.5A3.812,3.812,0,0,0-8.646-7.7,4.709,4.709,0,0,0-9.9-4.268C-9.9-1.474-8.294.319-5.8.319s4.114-1.8,4.114-4.587A4.744,4.744,0,0,0-2.915-7.7,3.855,3.855,0,0,0-5.808-8.8Zm.033,7.81a2.375,2.375,0,0,1-1.7-.671,3.634,3.634,0,0,1-.891-2.6c0-1.991,1-3.245,2.585-3.245a2.368,2.368,0,0,1,1.694.671,3.553,3.553,0,0,1,.869,2.563C-3.223-2.244-4.2-.99-5.775-.99ZM1.782.132A8.865,8.865,0,0,1,1.694-1.3V-3.135H3.8a3.117,3.117,0,0,0,2.343-.792,2.824,2.824,0,0,0,.737-2.024,2.572,2.572,0,0,0-.682-1.892A3.124,3.124,0,0,0,3.85-8.624h-2.3c-.583,0-.924-.011-1.4-.033A9.931,9.931,0,0,1,.242-7.238v5.951A8.894,8.894,0,0,1,.154.132ZM1.694-4.4V-7.359H3.8a1.5,1.5,0,0,1,1.2.4,1.484,1.484,0,0,1,.363,1.056A1.384,1.384,0,0,1,3.8-4.4ZM9.086-2.321a1.814,1.814,0,0,1,.231-.3A31.055,31.055,0,0,0,11.484-5.28c.374-.495.484-.594.66-.594.209,0,.275.055.957.836C14.278-3.7,14.3-3.663,15.136-2.8c.8.8,1.672,1.628,2.244,2.134a2.173,2.173,0,0,1,.319.319l.671-1.562a7.054,7.054,0,0,1-1.2-.924A34.991,34.991,0,0,1,13.882-6.2,7.343,7.343,0,0,0,13.145-7a1.559,1.559,0,0,0-.99-.418,1.514,1.514,0,0,0-.88.33,3.37,3.37,0,0,0-.682.693A14.325,14.325,0,0,1,8.2-3.7Z"
                    transform="translate(370 1059.766)" fill="#fff" />
            </g>
        </svg>
    </a>
	<a href="tel:0748-38-4566" class="footer-hotline">
		<img class="uk-visible@s" src="common/img/tel-over-pc.svg">
		<img class="uk-hidden@s" src="common/img/tel-over_sp.svg">
	</a>
</footer>
<!-- ▲footer ================================================== -->


<!-- ▼JS ================================================== -->
<script src="common/js/plugins.js"></script>
<!-- ▼レスポンシブ用クリッカブル▼ -->
<script src="common/js/jquery.rwdImageMaps.min.js"></script>
<script src="common/js/slick.min.js"></script>
<script>
	$(document).ready(function (e) {
		$('img[usemap]').rwdImageMaps();
	});
</script>
<!-- ▲レスポンシブ用クリッカブル▲ -->
</body>

</html>