<!-- ▼header================================================== -->
<header id="header" class="uk-flex uk-flex-middle">
    <div class="uk-flex uk-flex-between uk-flex-middle" id="header-top" >
        <div id="header-logo">
            <img src="common/img/logo.png" alt="">
            <small>品質検査･部品選別のTMネットワーク</small>
        </div>
        <div id="header-contact">
            <p class="uk-visible@s">急なトラブル！でも安心の即日サービス。全国対応も素早く実施！</p>
            <a href="tel:0748-38-4566" class="tel">
                <img class="uk-visible@s" src="common/img/tel.svg" alt="">
            </a>
            <a class="email uk-visible@s" href="#contact" uk-scroll><img src="common/img/icon_contact.svg" alt=""></a>
        </div>
    </div>
</header>
<!-- ▲header ================================================== -->
